@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #12aa05;
}
.main {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  background-color: #e2dfd0;
  padding: 10px;
  border-radius: 7px;
  font-size: large;
  font-weight: 500;
}

.container {
  background-color: #32012f;
  max-width: 90vw;
  margin: 50px auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
}


h1 {
  text-align: center;
  background-color: #f97300;
  /* color: white; */
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11 {
    margin-bottom: 20px;
  }
}
