@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
   /* ADDING BLUR EFFECT ON BOTH SIDES */
   .logos::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    content: "";
    z-index: 2;
    }
    .logos::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    content: "";
    z-index: 2;
    }
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
    }
/* USE CUSTOM MEDIA QUIRES IN TAIWIND CSS */
@layer utilities {
  @media (min-width: 620px) and (max-width: 660px) {
    .lily {
      @apply left-60;
    }
  }
  @media (min-width: 661px) and (max-width: 767px) {
    .lily {
      @apply left-72;
    }
  }
  @media (max-width:570px) {
    .brand{
      display: none;
    }
  }

}
